

body {
    background-color: #f4f4f2;
}

.items {
    width: 50vw;
    /* position: relative; */
    background-color: white;
    /* padding-left: 20vw; */
    border-radius: 20px;
    margin: 4vh auto;
    /* margin: auto;
    margin-top: 4vh; */
    -webkit-box-shadow: 11px 4px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 4px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 4px 20px 0px rgba(0,0,0,0.75);
}

.contents {
  padding: 3vw;
  /* padding-left: 3vw;
  padding-top: 3vw;
  padding-right: 3vw; */
}

.items-header {
  padding-bottom: 2vh;
}

.items-img {
    padding-left: 1vw;
}

.items-container button {
    width: 100%;
    text-align: left;
    display: flex;
    border: none;
    border-bottom: 1px solid black;
    padding: 15px;
}

.items-container button div {
  padding-left: 2vw;
}

.bidder {
    font-weight: 800;
}
